* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wishlist-container {
    width: 100%;
    background: #F5F5F5;
}



.wishlist-container .wishlist-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.wishlist-container .wishlist-wrapper .wishlist-topbar {
    width: 100%;
    padding: 8px 0;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: gray;
    z-index: 10;
    background: white;
    box-shadow: 4px 0px 18px 2px rgba(0, 0, 0, .2);
}

.wishlist-container .wishlist-wrapper .wishlist-topbar .wishlist-topbar-wrapper {
    /* width: 33%; */
    /* min-width: 560px; */
    width: 560px;
    padding: 0 35px 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wishlist-container .wishlist-wrapper .wishlist-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


.wishlist-container .wishlist-wrapper .product-card:not(:last-child) {
    margin-bottom: 70px;
}

.wishlist-container .wishlist-wrapper .product-card:last-child {
    margin-bottom: 150px;
}

.wishlist-container .wishlist-wrapper .product-card {
    width: 500px;
    padding: 10px 0;
    color: rgb(0, 0, 0);
    background-color: rgb(161, 255, 192);
    background-image: linear-gradient(102.1deg, rgba(96, 221, 142, 1) 8.7%, rgba(24, 138, 141, 1) 88.1%);
    border: 2px solid rgb(229, 230, 229);
    border-radius: 5px;
    transition: 0.3s all ease-in-out;
}


.wishlist-container .wishlist-wrapper .product-card:hover {
    border: 2px solid rgb(2, 241, 230);
}

.wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper {
    width: 100%;
    height: 80px;
    padding-right: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper .product-img-Bx {
    width: 40px;
    height: 100%;
    position: relative;
}

.wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper .product-img-Bx img {
    position: absolute;
    width: 100%;
    top: -34%;
    left: -30px;
}


.wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper .product-details {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper .product-details h2 {
    font-size: 1rem;
}

.wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper .product-details p {
    font-size: 0.75rem;
    color: rgb(46, 46, 46);
    margin-top: 5px;
}


.wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper .product-details span {
    font-size: 0.95rem;
    margin-top: 5px;
    color: rgb(34, 2, 177);
    font-weight: 600;
}

.wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper .product-cad-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper .product-cad-btn a {
    background: transparent;
    color: rgb(204, 204, 204);
    border: 1px solid rgb(84, 184, 121);
    display: block;
    text-decoration: none;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    padding: 3px 0;
    transition: 0.3s all ease-in-out 0.1s;
}

.wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper .product-cad-btn a:hover {
    border: 1px solid rgb(123, 221, 159);
    letter-spacing: 0.08rem;
    color: white;
}

.wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper .product-cad-btn a:last-child:hover {
    font-weight: bold;
    color: rgb(138, 6, 6);
}

.wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper .product-cad-btn a:first-child {
    color: white;
}

.wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper .product-cad-btn a:not(:last-child) {
    margin-bottom: 13px;
}

.wishlist-container .wishlist-wrapper .list-btn {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;

}


.wishlist-container .wishlist-wrapper .wishlist-topbar .wishlist-topbar-wrapper .list-btn a {
    text-decoration: none;
    color: rgb(143, 143, 143);
    letter-spacing: 0.02rem;
    transition: 0.2s all ease-in-out;
    height: 70%;
    padding: 0 12px;
    border: 1px solid rgb(223, 223, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}



.wishlist-container .wishlist-wrapper .wishlist-topbar .wishlist-topbar-wrapper .list-btn a:hover {
    color: rgb(0, 0, 0);
    border: 1px solid black;
}

.wishlist-container .wishlist-wrapper .wishlist-topbar .wishlist-topbar-wrapper .list-btn a:first-child {
    font-weight: 600;
    margin-right: 10px;
    color: rgb(31, 228, 41);
    animation: hue 11s linear 0s infinite reverse;
}

.wishlist-container .wishlist-wrapper .wishlist-topbar .wishlist-topbar-wrapper .list-btn::before {
    color: linear-gradient(105deg, rgba(255, 190, 0, 0), #ffbf00);
    animation: hue 12s linear 1s infinite;
}

@keyframes hue {
    to {
        filter: hue-rotate(1turn);
    }
}

.logo-Bx {
    position: absolute;
    top: 0;
    left: 0;
    width: 98px;
    height: 49px;
}

.logo-Bx img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

@media (max-width: 744px) {
    .wishlist-container .wishlist-wrapper .wishlist-products {
        padding-left: 20px;
    }

    .wishlist-container .wishlist-wrapper .wishlist-topbar {
        padding: 0;
        justify-content: flex-start;
    }

    .logo-Bx {
        position: relative;
        top: 0;
        left: 0;
    }
}

@media (max-width: 580px) {
    .wishlist-container .wishlist-wrapper .wishlist-topbar .wishlist-topbar-wrapper {
        width: Calc(100% - 100px);
        padding: 0 10px 0 10px;

    }

    .wishlist-container .wishlist-wrapper .wishlist-topbar .wishlist-topbar-wrapper h2 {
        font-size: 1.5rem;
    }

    .wishlist-container .wishlist-wrapper .product-card {
        width: 350px;
    }

    .wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper .product-img-Bx {
        width: 15px;

    }

    .wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper .product-img-Bx img {
        top: -65%;
        left: -47px;
        width: 50px;
        height: 178px;
    }

    .wishlist-container .wishlist-wrapper .product-card:not(:last-child) {
        margin-bottom: 100px;
    }

    .wishlist-container .wishlist-wrapper .wishlist-products {
        margin-top: 90px;
    }

    .wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper .product-cad-btn a {
        width: 75px;
        font-size: 0.80rem;
        letter-spacing: 0.015rem;
    }

    .wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper .product-cad-btn a:hover {
        letter-spacing: 0.015rem;
    }


}

@media (max-width: 460px) {
    .wishlist-container .wishlist-wrapper .product-card {
        width: 250px;
    }

    .wishlist-container .wishlist-wrapper .wishlist-products {
        padding-left: 40px;
    }

    .wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper {
        padding-right: 8px;
    }

    .wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper .product-cad-btn a {
        font-size: 0.75rem;
    }

    .wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper .product-details h2 {
        font-size: 0.95rem;
    }

    .wishlist-container .wishlist-wrapper .product-card .peroduct-card-wrapper .product-details p {
        font-size: 0.7rem;
    }

    .wishlist-container .wishlist-wrapper .wishlist-topbar .wishlist-topbar-wrapper h2 {
        display: none;
    }

    .wishlist-container .wishlist-wrapper .wishlist-topbar .wishlist-topbar-wrapper {
        justify-content: center;
    }
}